{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hello there</title>
	<script src="jquery-3.3.1.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="javascr.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{%static 'css/homestyle.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			{% if user.is_authenticated %}
				<p class="display-4">Welcome, {{ user.username }}</p>
				<a class="button-logout" href="logout">Logout</a>
			{% else %}
				<a class="lead" href="{% url 'social:begin' 'google-oauth2' %}">Log in</a>
			{% endif %}
		</div>
	</div>
	<h1 id="books-title">Book List</h1>
	<div class="container">
		<div class="row">
			<h2>Favorite(s): </h2>
			<h2 id="counter">0</h2>
		</div>
		<div class="row">
			<table class="table">
			<thead>
				<th scope="col" class="align-middle"><center>No</center></th>
                <th scope="col" class="align-middle"><center>Title</center></th>
                <th scope="col" class="align-middle"><center>Authors</center></th>
                <th scope="col" class="align-middle"><center>Publisher</center></th>
                <th scope="col" class="align-middle"><center>Published Date</center></th>
                <th scope="col" class="align-middle"><center>Cover</center></th>
                <th scope="col" class="align-middle"><center>Add to Favorite(s)</center></th>
			</thead>
			<tbody></tbody>
		</table>
		</div>
	</div>
	<script src="{%static 'js/javascr.js' %}"></script>
	<script type="text/javascript">
		$('#google-button').on('click', function() {
			OAuth.initialize('815068721581-j18ic1s6limjvgo8q116mvae6n6r7lep.apps.googleusercontent.com');
			// Use popup for oauth
			OAuth.popup('google').then(google => {
				console.log('google:',google);
				google.me().then(data => {
					console.log('me data:', data);
					alert('Google says your email is:' + data.email + ".\nView browser 'Console Log' for more details");
				});
				google.get('/plus/v1/people/me').then(data => {
					console.log('self data:', data);
				})
			});
		})
	</script>>
</body>
</html>