* {
  box-sizing: border-box;
}

.body1 {
	background-color: #79E9DE;
}

.home {
	margin: 0 5%;
	margin-top: 50px;
	padding-top: 70px;
	background-color: white;
}

img {
	margin-left: 5vw;
	padding-bottom: 50px;
	max-width: 90%;
}

#selfdesc{
	background-color: #FFFF32;
    text-align: justify;
    font-size: 100px;
    max-width: 90%;
    height: 45%;
    padding-top: 33px;
    padding-left: 25px;
    padding-right: 25px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #C72064;
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #C72064;
  color: black;
}

.dropdown-content a:hover {
    background-color: #C72064;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (min-width: 601px) {
	.text-in-home {
		font-size: 80px;
	}
	.text-name {
		font-size: 35px;
	}
	.text-selfdesc {
		font-size: 27px;
	}
	#selfdesc{
		background-color: #FFFF32;
	    text-align: justify;
	    max-width: 90%;
	    height: 45%;
	    padding-top: 33px;
	    padding-left: 25px;
	    padding-right: 25px;
	}
	.topnav {
		overflow: hidden;
		background-color: #C72064;
		margin-bottom: 40px;
	}
	.text-about-me {
		font-size: 100px;
		margin-left: 10%;
		margin-top: 5%;
	}
	.title-education {
		font-size: 70px;
		font-style: italic;
		text-align: center;
	}
	.education {
		text-align: center;
		font-size: 20px;
		margin-bottom: 100%;
	}
	#descbox{
		background: white;
	    text-align: justify;
	    width: 120%;
	    height: 90%;
	    padding-top: 7%;
	    padding-bottom: 7%;
	    padding-left: 7%;
	    padding-right: 7%;
	    font-size: 30px;
	}
	#placement {
		font-size: 30px;
		width: 100vw;
		text-align: center;
	}
	.title-experience {
		font-size: 100px;
		background: white;
		text-align: center;
		padding-left: 3%;
		padding-right: 3%;
		margin-left: 22%;
		margin-top: 2%;
	}
	.year-text {
		font-size: 40px;
		text-align: center;
		margin-top: 9%;
	}

	.the-jobs {
		font-size: 26px;
		text-align: center;
		margin-bottom: 20%;
	}
	.title-contact {
		font-size: 100px;
		margin-left: 30%;
		margin-bottom: 5%;
	}
	#type-contact {
		text-align: left;
		font-size: 30px;
	}
	#title-interest {
		font-size: 70px;
		font-style: italic;
		background: white;
		width: 650px;
		height: 200px;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 5%;
	}
	.img-interests {
		margin-top: 20%;
	}
	.type-interest {
		font-size: 50px;
		font-style: italic;
		text-align: center;
		padding-left: 25%;
	}

	.desc-interest {
		font-size: 23px;
		text-align: justify;
		padding-left: 25%;
	}
	.title-feedback {
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 7%;
		margin-bottom: 5%;
		text-align: center;
		font-size: 70px;
		font-style: italic;
	}
}

@media screen and (max-width: 600px) {
	.text-in-home {
		font-size: 60px;
		margin-left: 6%;
	}
	.text-name {
		font-size: 30px;
		margin-left: 6%;
		margin-right: 10%;
	}
	.text-selfdesc {
		font-size: 20px;
	}
	#selfdesc{
		background-color: #FFFF32;
	    text-align: justify;
	    max-width: 90%;
	    height: 50%;
	    margin-left: 5%;
	    padding-top: 5%;
	    padding-bottom: 6%;
	}
	.topnav {
	  overflow: hidden;
	  background-color: #C72064;
	  margin-bottom: 20px;
	}

	.topnav a, .dropdown .dropbtn {
	    display: none;
	}
	.topnav a.icon {
	    float: right;
	    display: block;
	}

	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	}
	.topnav.responsive a {
	    float: none;
	    display: block;
	    text-align: left;
	}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {
	    display: block;
	    width: 100%;
	    text-align: left;
	}

	.text-about-me {
		font-size: 60px;
		margin-left: 6%;
		margin-top: 10%;
	}
	.title-education {
		font-size: 45px;
		font-style: italic;
		margin-top: 7%;
		text-align: center;
	}
	.education {
		text-align: center;
		font-size: 15px;
		margin-bottom: 50%;
	}
	#descbox{
		background: white;
	    text-align: justify;
	    width: 100%;
	    height: 95%;
	    padding-top: 7%;
	    padding-bottom: 5%;
	    padding-left: 5%;
	    padding-right: 5%;
	}
	#placement {
		font-size: 20px;
		width: 100vw;
		text-align: left;
	}
	.title-experience {
		font-size: 60px;
		text-align: center;
		background: white;
		padding-left: 3%;
		padding-right: 3%;
		margin-left: 0%;
		margin-top: 10%;		
	}
	.year-text {
		font-size: 40px;
		text-align: center;
		margin-top: 9%;
	}

	.the-jobs {
		font-size: 24px;
		text-align: center;
		margin-bottom: 10%;
	}
	.title-contact {
		font-size: 70px;
		margin-top: 10%;
		margin-left: 7%;
		margin-bottom: 15%;
	}
	#type-contact {
		text-align: left;
		font-size: 20px;
	}
	#title-interest {
		font-size: 50px;
		font-style: italic;
		background: white;
		width: 100%;
		height: 100%;
		padding-left: 3%;
		padding-right: 3%;
		margin-top: 5%;
	}
	.img-interests {
		margin-top: 15%;
	}
	.type-interest {
		font-size: 50px;
		font-style: italic;
		text-align: center;
	}

	.desc-interest {
		font-size: 23px;
		text-align: justify;
	}
	.title-feedback {
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 7%;
		margin-bottom: 5%;
		text-align: center;
		font-size: 30px;
		font-style: italic;
	}
}

.my-desc {
	margin-top: 3%;
}

#circle {
	height: 3vw;
	width: 3vw;
	background-color: #FFFF32;
	border-radius: 50%;
	margin-left: 30%;
	margin-bottom: 5%;
	margin-top: 17%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #C72064;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.contact {
	height: 100%;
	width: 100%;
	background-color: #FFFF32;
	text-align: center;
}

.form-body {
	background-color: black;
}

.-col8{
	width: 100%;
}
