body {
	background-image: url("https://i.pinimg.com/564x/b4/81/1f/b4811f123aec0ed65430428c9b178be3.jpg");
	background-size: 100%;
	background-position: center;
}

h1 {
	text-align: center;
	font-size: 150%;
}