#default-theme {
	background-color:#09f;
	color:#F0F0F0;
}
#theme-button {
	background-color:#09f;
	color:#F0F0F0;
	border-left:#7AC6F9 1px solid;
}
#theme-menu {
	border: #7AC6F9  1px solid;
}
.theme-color {
	background-color: #ADD7F3;
    color: #FFF;
}
.theme-color:hover {
	background-color:#85CAF9;
}