/**ini di project!!!!**/
body {
	background: #244a2c;
}

.accordion {
	background-color: #e3f4d8;
	color: #444;
	cursor: pointer;
	padding: 18px;
	margin-left: 17%;
	margin-top: 1%;
	width: 65%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #d1ffd7; 
}

.accordion:after {
	content: '\02795';
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
}

.panel {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	width: 65%;
	margin-left: 17%;
	color: white;
}

h1 {
	font-size: 7vw;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
	color: white;
}

h2 {
	margin-left: 17%;
	margin-top: 5%;
}

#button {
	padding: 2%;
	margin-top: 5%;
	background-color: #808782;
	color: white;
	font-size: 2vw;
	margin-left: 41%;
	margin-bottom: 3%;
}

#button:hover {
	background-color: #c0c9bc;
	color: gray;
}