body {
	background-color: #C9CACE;
}

h1 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 3%;
}

#button-button-3 {
	background-color: #009494;
	color: white;
	margin-top: 5%;
}

.col-8 {
	margin-left: 270%;
}
