{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome!</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/base.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<h1 id="home-title" style="text-align: center; font-size: 60px">Hello, apa kabar?</h1>
	<center><form method="POST" action="{%url 'story_enam:add_status'%}">
		{% csrf_token %}
		{{daftar}}
		<button type="submit" class="save btn btn-default" id="submit-button" style="color: magenta">Submit</button>
	</form>
	<table class="table" border="1">
		<thead>
            <br><br>
            <th style="text-align: center;">Status</th>
        </thead>
        <tbody>
            {% for a in daftarStatus%}
            <tr>
                <td> {{a.homepage_input}} </td>
            </tr>
            {% endfor %}
        </tbody>
	</table>
	</center>
</body>
</html>