<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<style> 
	body {
		margin: 20;
		padding: 20;
		animation: bgcolor infinite 20s;
		{% load static %}
		background-image: url("{%static "media/5631356-background-image.png" %}");
		background-position: top;
	}
	p {
		margin: 20;
		font-family: arial;
		font-size: 20;
		text-align: justify;
	}
	p.groove {border-style: groove;}
	#rcorners4 {
	    border-radius: 15px;
	    padding: 20px; 
	    width: 1180px;
	    height: 225px; 
	}
	h1 {
		text-align: center;
		font-size: 50;
	}
	img {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	</style>
<body>
	{% load static %}
	<img src="{%static "media/DSC_3033.JPG" %}", width="350" align="center">
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <br>
    <article> Education : Faculty of Computer Science, University of Indonesia</article> 
	<article> Hobby :  Listen to music</article>
	<article> Self description : My name is Aurel, I live in Depok with my parents and my sister. I like to watch TV shows and romantic comedy movies.</article>
	<br> <br> <br>
	<h1>These are my friends</h1>
	<br> <br>
	<img src="{%static "media/S__9519106.jpg" %}", width="250" align="center">
	<br> <br>
	<article>Name : Adhiba Mastura</article>
	<article>NPM : 1706074764</article>
	<article>Education : Faculty of Computer Science, University of Indonesia</article>
	<article>Hobby : Cook</article>
	<article>Self description :  Hi! my name is Dhiba and I am 19 years old. I live in Depok with my parents, two brothers and one sister. I love to cook and watch thriller or action movies. I also like to read novels and listen to music.</article>
	<br> <br> <br>
	<img src="{%static "media/fb734b5f165965627e9a02fdec990b67.jpg" %}", width="250" align="center">
	<br> <br>
	<article>Name : Taliza Ayu</article>
	<article>NPM :  1706024715</article>
	<article>Education : Faculty of Computer Science, University of Indonesia</article>
	<article>Hobby : Watch movies and listen to music</article>
	<article>Self description : Ayu is one of my classmates in PPW class. She likes to watch movies and listen to music.</article>
</body>
</html>
