{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Website</title>
	<script src="jquery-3.3.1.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="jquery.js" type="text/javascript"></script>
	<script src="jvs.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{%static 'css/style_landpage.css' %}">
	<script src="{%static 'js/jvs.js' %}"></script>
</head>
<body onload="myFunction()" style="margin:0;">
	<div id="loader"></div>
	<h1 id="title">Selamat datang!</h1>
	<div class="container">
		<div class="row">
			<button class="accordion">Aktivitas saat ini</button>
			<div class="panel">
				<p>Halo semuanya, nama saya Aurellia Dhya Andini. Saya adalah salah satu mahasiswi di Fakultas Ilmu Komputer, Universitas Indonesia</p>
			</div>
			<button class="accordion">Pengalaman organisasi atau kepanitiaan</button>
			<div class="panel">
				<p>BEM, Compfest, Wisuda Genap 2018</p>
			</div>
			<button class="accordion">Prestasi</button>
			<div class="panel">
				<p>Mohon doanya ya teman-teman</p>
			</div>
		</div>
		<div class="row">
			<button id="button">Ubah tema</button>
		</div>
	</div>
</body>
</html>