{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
    <style type="text/css">
    	body {
    		background-color: #C72064;
    	}
    </style>
</head>
<body>
	<div class="container">
	  <h4 class="title-feedback">
			<strong>Let me know what you think about my website!</strong>
		</h4>
	  <form action="/action_page.php">
	    <div class="form-group">
	      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
	    </div>
	    <button type="submit" class="btn btn-primary">Submit</button>
	  </form>
	</div>
</body>
</html>