{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Add Schedule</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #FFFF32">
	<section name="form">
		<h1 style="text-align: center; padding-top: 2%; font-size: 60px"><strong>Add Schedule</strong></h1>
		<form id="form" method="POST" action="{%url 'story_empat:add_activity'%}">
			{% csrf_token %}
			<br><br>
			<div class="col-8">
				<h2>Name of activity:</h2>
		        {{ message_form.nama_kegiatan }}
		        <br>
		        <h2>Date:</h2>
		        {{ message_form.tanggal_kegiatan }}
		        <br><br>
		        <h2>Time:</h2>
		        {{ message_form.waktu_kegiatan }}
		        <br><br>
		        <h2>Place:</h2>
		        {{ message_form.nama_tempat }}
		        <br>
		        <h2>Category:</h2>
		        {{ message_form.kategori_kegiatan }}
		        <br><br><br>
				<button type="submit" id="add" name="add">Submit</button>
				<br><br>
			</div>
		</form>
	</section>
</body>
</html>




