{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Thank You!</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #FFFF32">
	<div>
	    <h2 style="font-size: 70px; text-align: center; padding-top: 15%"><strong>Your schedule has been saved!</strong></h2>
	    <a href="{% url 'story_empat:result_table' %}" style="font-size: 40px; padding-top: 20%"><center>See Schedule</center></a>
	</div>
</body>
</html>
