{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Website</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="body1">
	<div id="home" class="home">
		{% block content %} {% include 'Navbar.html' %} {% endblock %}
		<div class="row">
			<div class="col-md-3">
				<a href="https://ibb.co/jxbsz9"><img src="https://image.ibb.co/hdhXz9/DSC_1417.jpg" alt="DSC_1417" border="0"></a>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-8">
				<h4 class="text-in-home"><strong> Hello! </strong></h4>
				<h6 class="text-name"><strong>My name is Aurellia Dhya Andini.</strong></h6>
				<div id="selfdesc">			
					<h5 class="text-selfdesc"><strong>
						I'm currently studying at Faculty of Computer Science, University of Indonesia. I live in Depok with my parents, my sister, and two cats!
					</strong></h5>
				</div>
			</div>
		</div>
	</div>
	<div id="about" class="about">
		<h3 class="text-about-me"><strong>ABOUT ME</strong></h3>
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<h5 class="my-desc" id="descbox">Name: Aurellia Dhya Andini
						<br> Date of birth: July 20th 1999
						<br> Address: Jl. Asparagus number 90 Beji, Depok
						<br> Life motto: Nothing worth having comes easy</h5>
				</div>
				<div class="col-1"></div>
				<div class="col-sm-6">
					<h4 class="title-education">Education</h4>
					<div class="row">
						<div class="col-3">
						<div id="circle"></div>
						<div class="education"><strong>
							SDIT Darul Abidin
							<br> 2006-2011</strong>
						</div>
					</div>
					<div class="col-3">
						<div id="circle"></div>
						<div class="education"><strong>
							SMPN 2 Depok
							<br> 2011-2014</strong>
						</div>
					</div>
					<div class="col-3">
						<div id="circle"></div>
						<div class="education"><strong>
							SMAN 1 Depok
							<br> 2014-2017</strong>
						</div>
					</div>
					<div class="col-3">
						<div id="circle"></div>
						<div class="education"><strong>
							University of Indonesia
							<br> 2017-now</strong>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="row">
			<div class="col-12">
				<ul>
					<li>
						<a href="{%url 'story_empat:PersonalInterests' %}" id="placement"><strong>My Personal Interests</strong>
						</a>
					</li>
				</ul>
			</div>
		</div>
		</div>
	</div>
	<div id="experience" class="experience">
		<div class="container">
			<div class="row">
				<h3 class="title-experience">
					<strong>EXPERIENCE</strong>
				</h3>	
			</div>
			<div class="row">
				<div class="col-sm-3">
					<h5 class="year-text"><strong>2015</strong></h5>
					<h5 class="the-jobs">
						<strong>Galeri 38 Actinium</strong>
						<br>Staff of Documentary
					</h5>
				</div>
				<div class="col-sm-3">
					<h5 class="year-text"><strong>2016</strong></h5>
					<h5 class="the-jobs">
						<strong>Aksi 39 Athalaster</strong>
						<br>Staff of Event<br><br>
						<strong>Satu Traditional Aceh Dance</strong>
						<br>President<br><br>
						<strong>LDK Leader of Smansa</strong>
						<br>Staff of Event
					</h5>
				</div>
				<div class="col-sm-3">
					<h5 class="year-text"><strong>2017</strong></h5>
					<h5 class="the-jobs">
						<strong>Alfa Beta Social Project</strong>
						<br>Staff of Event
					</h5>
				</div>
				<div class="col-sm-3">
					<h5 class="year-text"><strong>2018</strong></h5>
					<h5 class="the-jobs">
						<strong>BEM Fasilkom UI</strong>
						<br>Staff of Human and Resource Development<br><br>
						<strong>Wisuda Genap Fasilkom UI</strong>
						<br>Treasurer<br><br>
						<strong>COMPFEST X</strong>
						<br>Staff of Media Partner
					</h5>
				</div>	
			</div>
		</div>
	</div>
	<div id="contact" class="contact">
		<div class="container">
			<div class="row">
				<h3 class="title-contact">
					<strong>CONTACT</strong>
				</h3>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-3">
							<img src="http://icons.iconarchive.com/icons/martz90/circle/256/phone-icon.png" height="100">
						</div>
						<div class="col-9">
							<h5 id="type-contact"><strong>+6281806993019</strong></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<img src="http://icons-for-free.com/free-icons/png/512/1891029.png" height="100">
						</div>
						<div class="col-9">
							<h5 id="type-contact"><strong>aurel.da99@gmail.com</strong></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<img src="https://images.vexels.com//media/users/3/137381/isolated/preview/4e11f9375a642d3d1d296dfadd5be8e0-line-icon-logo-by-vexels.png" height="100">
						</div>
						<div class="col-9">
							<h5 id="type-contact"><strong>aurelliadhyaa</strong></h5>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-3">
							<img src="https://cdn4.iconfinder.com/data/icons/miu-gloss-social/60/facebook-512.png" height="100">
						</div>
						<div class="col-9">
							<h5 id="type-contact"><strong>Aurellia Dhya Andini</strong></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<img src="https://internationalipohfashionweek.files.wordpress.com/2018/02/instagram-colourful-icon.png?w=466" height="100">
						</div>
						<div class="col-9">
							<h5 id="type-contact"><strong>aurelliadhya</strong></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<img src="https://qph.fs.quoracdn.net/main-qimg-7580c858dd965c5c496609e51edfa749" height="115">
						</div>
						<div class="col-9">
							<h5 id="type-contact"><strong>aurelliadhyaa</strong></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>