{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>	
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Website</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="topnav" id="myTopnav">
		  <a href="#home" class="active"><strong>Home</strong></a>
		  <a href="#about"><strong>About</strong></a>
		  <a href="#experience"><strong>Experience</strong></a>
		  <a href="#contact"><strong>Contact</strong></a>
		  <a href="{%url 'story_empat:registeraccount' %}"><strong>Register Account</strong></a>
		  <a href="{%url 'story_empat:form_page' %}"><strong>Schedule Form</strong></a>
		  <a href="{%url 'story_empat:result_table' %}"><strong>Schedule</strong></a>
		  <a href="{%url 'story_empat:Feedback' %}"><strong>Feedback</strong></a> 
		  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
		</div>
		<script>
		function myFunction() {
		    var x = document.getElementById("myTopnav");
		    if (x.className === "topnav") {
		        x.className += " responsive";
		    } else {
		        x.className = "topnav";
		    }
		}
		</script>
</body>
</html>