{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Personal Interests</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style type="text/css">
    	body {
    		background-color: #FFFF32;
    	}
    </style>
</head>
<body>
	<div class="container">
		<div class="row">
			<h3 id="title-interest">
				<strong>MY PERSONAL INTERESTS</strong>
			</h3>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" class="img-interests" height="365">
				<h4 class="type-interest">Food<strong></strong></h4>
				<h5 class="desc-interest">
					I really do like to eat. I don't have a favorite food because I always like what I eat. I like to eat because it releases stress and brings joy to me. At this point, I don't even care how much I weigh as long as I still can eat many kinds of food.
				</h5>
			</div>
			<div class="col-sm-4">
				<img src="https://d3copomxwq9gkz.cloudfront.net/image-bin/catImages/source/items/014-55295.jpg" class="img-interests">
				<h4 class="type-interest"><strong>Music</strong></h4>
				<h5 class="desc-interest">
					I actually had a singing lesson when I was 11 years old. I like to sing, but I do it rarely nowadays. I also like to listen to music because I find it very calming and fun.
				</h5>
			</div>
			<div class="col-sm-4">
				<img src="https://thumbs.dreamstime.com/b/cute-cat-portrait-square-photo-beautiful-white-closeup-105311158.jpg" class="img-interests">
				<h4 class="type-interest"><strong>Cats</strong></h4>
				<h5 class="desc-interest">
					I like cats! I have two cats, their names are Mochil and Unin. I had them when I was 17 years old. They are really fun to play with, and they never get mad at me even when I'm messing with them.
				</h5>
			</div>
		</div>
	</div>
</body>
</html>