{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Schedule</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <table class="table" style="background-color: #79E9DE; width: 100%" border="1">
        <thead>
            <th style="text-align: center;">Name of activity</th>
            <th style="text-align: center;">Place</th>
            <th style="text-align: center;">Date</th>
            <th style="text-align: center;">Time</th>
            <th style="text-align: center;">Category</th>
        </thead>
            <tbody>
                {% for i in result %}
                <tr>
                    <td> {{ i.nama_kegiatan }} </td>
                    <td> {{ i.nama_tempat }} </td>
                    <td> {{ i.tanggal_kegiatan }} </td>    
                    <td> {{ i.waktu_kegiatan }} </td> 
                    <td> {{ i.kategori_kegiatan }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <center><a href="{% url 'story_empat:delete_all' %}" class="button">Delete</a></center>
        <!-- <center><button style="width: 200px; height: 30px" id="delete" name="delete">Delete all schedule</button></center> -->
        <br>
</body>
</html>